.footer {
  display: flex;
  align-items: center;
  border-top: 2px solid rgba(75, 5, 75, 0.1);
  width: 100%;

  background-color: #000;
  box-sizing: border-box;
  font-family: "Alegreya";
  padding: 15px 0;
}

.footer__item_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer__item {
  list-style: none;
  margin: 10px;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: #fff;
  transition: color 0.2s ease;
  border: none;

  background-color: #000;
}
.footer__item:hover {
  color: rgb(111, 207, 255);
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  left: 80%;
  position: absolute;
}
@media screen and (max-width: 800px) {
  .footer__item {
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .footer__item {
    font-size: 9px;
  }
}
