.footer {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(75, 5, 75, 0.1);
  /* padding: 10px 20px; */
  width: 100%;
  background-color: rgb(14, 44, 62);
  box-sizing: border-box;
  position: absolute;
  font-family: "Alegreya";
  top: 100%;
}
.footer__item_container {
  display: flex;
  position: relative;
  flex-direction: row;
  margin: 15px;

  left: 35%;
}
.footer__item {
  list-style: none;
  margin: 10px;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  color: #fff;
  transition: color 0.2s ease;
  border: none;
  background-color: rgb(14, 44, 62);
}
.footer__item:hover {
  color: rgba(121, 190, 244, 0.7);
}
