.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 75%;
}
.popup__image {
  width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.popup__title {
  color: #000;
  margin: 20px;
}
.popup__description {
  color: #000;
  margin: 20px;
}
.popup-close {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
