html,
body {
  /* height: 100%; */
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar */
}

/* The draggable part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #3ff5f8; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners */
}

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 6px; /* Rounded corners */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #3ff5f8; /* Darker shade on hover */
}
